.cabecera {
  position: relative;
  background-image: url('/images/Nosotros/CabeceraNosotros.jpg');
  background-size: cover;
  background-position: center;
  height: 380px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  padding-left: 150px;
  color: white;
}

.cabecera .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 25, 74, 0.8), rgba(0, 25, 74, 0.2), rgba(0, 25, 74, 0));
  z-index: 1;
}

.cabecera .contenido {
  position: relative;
  z-index: 2;
}

.cabecera h1 {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-weight: bold;

}

.img-fluid {
  width: 556px;
}

.imagen {
  width: 273px;
  height: 276px;
}

.subtitulo {
  font-weight: 400;
  font-size: 42px;
  font-family: "Oswald", sans-serif;
  color: black;
}

.titulo {
  font-size: 53px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin-top: -60px;
  color: #417cc2;
  font-weight: bold;
}

.contenido1 {
  padding-left: 80px;
  padding-top: 147px;
  padding-right: 70px;
  padding-bottom: 180px;
}

.columna p {
  font-family: "Jost";
  font-weight: 400;
  line-height: 1;
  font-size: 19px;
  margin-bottom: 20px;
  width: 520px;
}

.colum p {
  font-family: "Jost";
  font-weight: 400;
  line-height: 1;
  font-size: 17px;
  margin-left: 10px;
  width: 300px;
  align-items: center;
  margin-left: 50px;
}

.ctitulo {
  font-size: 37px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #417cc2;
}

.imagen2 {
  width: 630px;
  height: auto;
  margin-left: 20px;
}

.colum {
  margin-bottom: 110px;
}

.imagen3 {
  width: 610px;
  margin-left: -20px;

}

.Subtitulo {
  font-weight: 400;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
}

.contenido3 {
  padding-left: 80px;
  padding-top: 70px;
  padding-right: 70px;
  margin-bottom: 90px;
}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Responsive para celulares */
@media (max-width: 768px) {
  .cabecera {
    height: 150px;
    padding-left: 60px;
    padding-bottom: 60px;
    background-position: center;
  }

  .cabecera h1 {
    font-size: 36px;
  }

  .columna p {
    text-align: left;
    width: 320px !important;
  }

  .columna {
    justify-content: start;
    margin-left: -45px;
  }

  .columnaD {
    justify-content: start;
    margin-left: -20px !important;
    margin-top: -30px;
    margin-bottom: -50px;
  }

  .imagen3 {
    width: 120%;
    margin-left: -40px;
  }

  .titulo {
    font-size: 50px;
    width: 320px;
    margin-top: -60px;
  }

  .subtitulo {
    font-size: 45px;
    width: 320px;
  }

  .contenido1 img {
    justify-content: center !important;
    max-width: 135%;
    height: auto;
    margin-left: -50px;
  }

  .imagen2 {
    width: 85%;
    margin-top: -50px;
    margin-left: -5px;
  }

  .Card1 {
    margin-top: -120px;
  }

}

/*para pantallas medianas*/
@media (min-width: 768px) and (max-width: 992px) {
  .cabecera {
    height: 250px;
    padding-left: 60px;
    padding-bottom: 60px;
    background-position: center;
  }

  .cabecera h1 {
    font-size: 36px;
  }

  .contenido3 {
    justify-content: start !important;
    margin-left: 0;
    margin-right: 0;
  }

  .contenido1 {
    justify-content: start !important;
    margin-left: 0;
    margin-right: 0;
  }

  .columna {
    width: 100%;
    margin-left: 0;
  }

  .row.Card1>div {
    flex: 0 0 100%;
    max-width: 100%;
  }

}